section {
  font-family: 'Ubuntu' !important;
}

section.title-slide {
  top: 10%;
}

section.title-slide h1,h2,h3,h4,h5,h6,p {
  text-align: left;
}

section.title-slide p{
  font-style: italic;
}

li {
  margin: 1rem 0rem !important;
}

.reveal section img {
  border: none;
  box-shadow: none;
}
.primary, .secondary, .tertiary {
  background-color:  #DDEEFF;
}

.primary{
  color: #BB4040;
}

.secondary{
  color: #6060FF;
}

.tertiary{
  color: #44bb88;
}

.side-by-side div {
  float: left;
}

.side-by-side .big {
  max-width: 61.2%;
}

.border {
  padding: 1em !important;
  border: .2em solid black !important;
  margin: 1em 2em !important
}

.border .giant {
  font-size: 1.8em;
}

.side-by-side .small {
  width: 37.8%;
}

.run-in-from-right {
  position: absolute;
  right: 1%;
  top: 35px;
  width: 70%;
}

.high-as-a-kite {
  top: 0px !important;
  bottom: 0px;
}

.scaled {
  transform: scale(0.8, 1);
  transform-origin: left;
}

pre.fat{
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  box-shadow: unset !important;
}

pre.fat code.fat{
  margin: 1em;
  max-height: 100% !important;
  max-width: 100%;
  font-family: 'Ubuntu Mono', monospace;
  display: inline !important;
}

code, .codeblock{
  background-color:  rgba(255, 0,0 , 0.075) !important;
  font-family: 'Ubuntu Mono', monospace !important;
  /* overflow: none; */
}

.left{
  text-align: left;
}

.thin{
  font-size: .8em !important;
}

.insanely-tiny{
  font-size: .7em !important;
}

.supa-thin{
  font-size: .28em !important;
}

ol.thin{
  margin-top: -1.2em;
}

ol.thin li{
  margin: 0px !important;
}

h6.title {
  position: relative;
  top:  -30px;
  width: 100%;
  border-bottom: 1px solid #6060FF;
  text-transform: unset !important;
}

.exercise {
  border-left: 50px solid #BB4040 !important;
  padding-left: 50px !important;
  margin-left: -50px !important;
}

.exercise h6.title{
  margin-left: -50px;
}

.reveal .slides > section{
  margin-top: 32px;
}

.slide-example-fixed-footer{
  position: fixed;
  bottom: 20px;
}

.max-height-450{
  max-height: 450px !important;
}

.max-width-200{
  max-width: 200px !important;
}

.max-width-400{
  max-width: 400px !important;
}

.max-width-500{
  max-width: 500px !important;
}

.hidden{
  display: none
}
.full {
  position: fixed;
  top: 0px;
}

img.bare{
  /* height: 500px !important; */
}

img {
  display: block;
  width: auto !important;
  height: auto !important;
}

img.thin-border{
  border: 1px solid black !important;
}

.goal-of-the-exercise {
  display: inline-block !important;
  font-weight: bold !important;
  border: 0.4em solid #BB4040 !important;
  border-radius: 0.4em !important;
  margin: 0.5em 1em !important;
}

.white-letters-black-background{
  color: #f8f8f8;
  background-color: rgba(0,0,0,0.4)
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.max-height-50  {
  max-height: 50px !important;
}

.one-dot-eight-em-high {
  line-height: 1.8em !important;
}

#right-by-8em {
  position: relative !important;
  right: -3em !important;
}
.to-top-right{
  position: fixed !important;
  right: -60px !important;
  top: 3px !important;
}
